@{
    @model ReferencingSystem.Application.Main.MVC.Models.UpdateViewModel
    var uniList = new ReferencingSystem.Model.RsContext().University.ToList();
}

<div class="row">
    <div class="col-md-5">
        <h3>My Account</h3>
        <p class="em-primary">@ViewBag.StatusMessage</p>
    </div>
    <div class="col-md-5 ">
        <button id="ChangeDetails" class="btn btn-ar btn-primary pull-right margin-20">Edit details</button>
        <button id="CancelDetails" class="btn btn-ar btn-primary pull-right margin-20">Cancel</button>
    </div>
    <div class="col-md-12">
        @using (Html.BeginForm("Update", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "updateForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-offset-1">
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>

            @Html.HiddenFor(m => m.userprofile.UserId)
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 " })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address" })
                    <span id="Email">
                        @Html.DisplayFor(m => m.Email)
                    </span>
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Name", new { @class = "col-md-2 " })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.userprofile.FirstName, new { @class = "form-control", placeholder = "Given name" })
                    <span id="userprofile_FirstName">
                        @Html.DisplayFor(m => m.userprofile.FirstName) @Html.DisplayFor(m => m.userprofile.LastName)
                    </span>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.userprofile.LastName, new { @class = "form-control", placeholder = "Family name" })

                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.userprofile.Contact, new { @class = "col-md-2 " })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.userprofile.Contact, new { @class = "form-control", placeholder = "Phone Number" })
                    <span id="userprofile_Contact">
                        @Html.DisplayFor(m => m.userprofile.Contact)
                    </span>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.userprofile.UniversityId, new { @class = "col-md-2 " })

                <div id="uniName" class="col-md-10">

                    @Html.TextBoxFor(m => m.userprofile.InstitutionName, new { @class = "form-control", placeholder = "University Name" })
                    <span id="userprofile_InstitutionName">@Html.DisplayFor(m => m.userprofile.InstitutionName)</span>
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Student ID", new { @class = "col-md-2 " })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.userprofile.InstitutionId, new { @class = "form-control", placeholder = "Student ID" })
                    <span id="userprofile_InstitutionId">
                        @Html.DisplayFor(m => m.userprofile.InstitutionId)
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    @Html.HiddenFor(m => m.userprofile.AgreeToTerms)
                    @Html.ActionLink("Change password", "ChangePassword", null, new { @class = "btn btn-ar btn-primary pull-left", })
                </div>
                <div class="col-md-5">
                    <input id="submitProfiles" type="submit" class="btn btn-ar btn-primary pull-right" value="Save" />
                </div>
            </div>
        }
    </div>

</div>
